.border-div {
  background-color: var(--social-readmode-background);
  width: 80%;
  color: var(--name-email);
  height: 500px;
  overflow: auto;
}

.img-name-details {
  margin: 0% 2%;
  display: flex;
  gap: 25px;
  padding: 2% 0%;
  overflow: auto;
}

.social-img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.social-profile-name {
  font-size: 20px;
  font-weight: 700;
}

.name-to-image {
  display: flex;
  flex-direction: column;
  width: 75%;
}

.shutter-img {
  width: 80%;
  padding: 1%;
}

.social-description {
  font-size: 15px;
  font-weight: 400;
  color: var(--name-email) !important;
  padding-right: 10%;
  padding-top: 2%;
}

.social-main-container {
  margin-top: 1%;
}

.social-likes-desc {
  gap: 25px;
  color: var(--like-replies-color);
  display: flex;
  padding-top: 15px;
  font-size: 14px;
  font-weight: 600;
}

.threads-published-chips {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;

  padding: 0% 3%;
}

.chips-social {
  display: flex;
}

.icon-desc {
  display: flex;
  align-items: center;
  gap: 6px;
}

#created-tag {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 143%;
  color: var(--name-email);
}

.icon-desc-2 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-desc-3 {
  display: flex;
  align-items: center;
  gap: 8px;
}

.Total-Threads {
  display: flex;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  color: var(--socialread-text-header);
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
}

.Thirty-four {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  color: var(--name-email);
}

.icon-desc-4 {
  display: flex;
}

.css-ahj2mt-MuiTypography-root {
  color: var(--name-email);
}
