.TID-Search-Dropdown .css-10hburv-MuiTypography-root {
  color: var(--name-email);
}

.Entities-parent-div .TID-Parent-Section .css-qiwgdb.css-qiwgdb.css-qiwgdb {
  color: var(--name-email);
}

.Entities-parent-div .TID-Parent-Section .css-1636szt {
  color: grey;
}

.Entities-parent-div .TID-Parent-Section .css-yb0lig {
  color: var(--name-email);
}
