.head-text {
  color: var(--card-text-color);
}

.head-tag {
  color: var(--name-email);
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.popup-profile {
  position: absolute;
  top: 146px;
  /* left: -52px; */
  left: -125px;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 198px;
  background-color: var(--sidebar-bg) !important;
  box-shadow: 0px 0px 10px 0 grey;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 999;
  overflow: auto;
  /* overflow-x: hidden; */
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--main-bg-color);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-color);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-color);
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--name-email) !important;
}

.css-1x51dt5-MuiInputBase-input-MuiInput-input {
  color: var(--name-email) !important;
}

.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--name-email) !important;
}

.css-1rwt2y5-MuiButtonBase-root-MuiButton-root {
  /* color: var(--name-email) !important; */
  /* border: 1px solid var(--name-email) !important; */
  /* display: flex !important;
  gap: 15% !important; */
}

.e-confirm-dialog .e-dialog .e-popup {
  top: 38px !important;
}
